<button
  type="button"
  class="btn btn-link btn-sm"
  (click)="showLibrary()">
  <i class="fa fa-angle-left" aria-hidden="true"></i>
  Back to Library
</button>
<h3>{{program.name}}</h3>
<ngb-carousel class="" [interval]="false">
  <ng-template ngbSlide *ngFor="let i of schedule">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let j of i">
          <div *ngIf="j.rest">
            <i class="fa fa-dream" aria-hidden="true"></i>
            Rest
          </div>
          <div *ngIf="!j.rest">
            <i class="fa fa-dumbbell" aria-hidden="true"></i>
            {{j.name || defaultName}}
          </div>
        </div>
      </div>
  </ng-template>
</ngb-carousel>
