body {
  padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

gl-program-info .carousel-indicators {
  bottom: -30px;
}

.fa-dumbbell:before {
  content: url('assets/glyphicons-357-dumbbell.png');
  margin-right: 5px;
}

.fa-dream:before {
  content: url('assets/dream.png');
  margin-right: 5px;
}
