<gl-header></gl-header>
<div class="card">
  <h3 class="card-header">Track your gains</h3>
  <div class="card-block">
    <p class="card-text">
      Use a common weight program schema to track your progress in the gym.
    </p>
  </div>
  <div class="card-block" *ngIf="authService.isAuthenticated()">
    <p class="card-text">
      Start browsing the <a routerLink="/lib">library</a> to start your legacy.
    </p>
  </div>
  <h6 class="card-footer">Open Source. No Ads. <span class="text-muted">v0.2.1</span></h6>
</div>
