<gl-header></gl-header>
<div class="card">
  <h3 class="card-header">Track your gains</h3>
  <div class="card-block">
    <p class="card-text">
      Use a common weight program schema to track your progress in the gym.
    </p>
  </div>
  <div class="card-block" *ngIf="profile">
    <p class="card-text">
      Start browsing the library {{profile.given_name}} to start your progress.
    </p>
    <div
      class="btn-group mx-auto"
      role="group">
      <button
        routerLink="/lib"
        class="btn btn-primary">
        View Library
      </button>
    </div>
  </div>
  <div class="card-block">
     <h6>Open Source. No Ads.</h6>
  </div>
</div>
